<div style="display: none;">
    <a routerLink="/home" class="p-button font-bold" size="small">Router</a>
</div>

<div class="video-frame">
    <video id='plyrId' controls crossorigin playsinline [poster]="selectedVideo.thumbnail" class="player-video">
        <source class="player-source" src='{{selectedVideo.media_url}}' type='video/webm'>
        <!-- Fallback for browsers that don't support the <video> element -->
        <a href='{{selectedVideo.media_url}}' download>Download</a>
    </video>
</div>

<p-panel class="video-content">
    <h2>
        {{selectedVideo.title}}
    </h2>
    <h3>{{selectedVideo.channel}}</h3>
    <p [innerHTML]="selectedVideo.description"> </p>
</p-panel>