<div style="display: none;">
    <a routerLink="/home" class="p-button font-bold" size="small">Router</a>
</div>

<div class="video-frame">
    <video id='plyrId' controls crossorigin playsinline [poster]="selectedVideo.thumbnail" class="player-video">
        <source class="player-source" src='{{selectedVideo.media_url}}' type='video/webm'>
        <!-- Fallback for browsers that don't support the <video> element -->
        <a href='{{selectedVideo.media_url}}' download>Download</a>
    </video>
</div>

<p-panel class="video-content">
    <ng-template pTemplate="header">
        <div>
            <span class="title-text">{{selectedVideo.title}}</span>
            <h4 class="channel-text">{{selectedVideo.channel}}</h4>
        </div>
    </ng-template>
    <ng-template pTemplate="icons">
        <div style="display: flex;">
            <p-chip class="micro-informations" label="{{selectedVideo.views_count | minifiedViewCount}}" icon="pi pi-user"/>
            <p-chip class="micro-informations" label="{{selectedVideo.likes_count | minifiedViewCount}}" icon="pi pi-thumbs-up" />
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <div style="display: none;">
            <span>More from this Channel</span>
        </div>
    </ng-template>
    <div>
        <p [innerHTML]="selectedVideo.description"> </p>
    </div>
</p-panel>