<div style="display: none;">
    <a routerLink="/home" class="p-button font-bold" size="small">Router</a>
</div>

<div class="video-frame">
    <video id='plyrId' controls crossorigin playsinline [poster]="selectedVideo.thumbnail" class="player-video">
        <source class="player-source" src='{{selectedVideo.media_url}}' type='video/webm'>
        <!-- Fallback for browsers that don't support the <video> element -->
        <a href='{{selectedVideo.media_url}}' download>Download</a>
    </video>
</div>

<p-panel class="video-content">
    <ng-template pTemplate="header">
        <div style="width: 100%; display: flex;">
            <div>
                <span class="title-text">{{selectedVideo.title}}</span> <br />
                <h4 class="channel-text">{{selectedVideo.channel}}</h4>
            </div>

            <div style="align-items: start; margin-right: 4px; margin-left: auto;">
                <div class="micro-informations">
                    <p-tag [style]="{padding:'8px', 'margin': '0px 8px'}">
                        <span style="font-size: 14px;">
                            <i class="pi pi-user" style="margin: 0px 3px; font-size: 14px;"></i>
                            {{selectedVideo.views_count | minifiedViewCount}}
                        </span>
                    </p-tag>
                    <p-tag [style]="{padding:'8px', 'margin': '0px 8px'}">
                        <span style="font-size: 14px;">
                            <i class="pi pi-thumbs-up" style="margin: 0px 3px; font-size: 14px;"></i>
                            {{selectedVideo.likes_count | minifiedLikeCount}}
                        </span>
                    </p-tag>
                    <!-- <p-button label="Download" [rounded]="true" severity="secondary" icon="pi pi-download" size="small" (click)="(selectedVideo.media_url)" /> -->
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <div style="display: none;">
            <span>More from this Channel</span>
        </div>
    </ng-template>
    <div>
        <p [innerHTML]="selectedVideo.description"> </p>
    </div>
</p-panel>