.video-frame {
    min-width: 98vw;
    max-width: 98vw;
    margin-left: auto;
    margin-right: auto;
}

//setting 1
// .player-video {
//     display: flex;
//     margin-left: auto;
//     margin-right: auto;
//     width: 75%;
// }

//setting 2
.player-video {
    display: flex;
    max-height: 65vh;
    width: 100%;
} 

// .player-source {
    // display: block;
    // max-height: 50%;
    // width: auto;
// }

.video-content {
    display: flex;
    padding: 8px 36px;
    min-width: 60%;
    width: 60%;
    margin: 0px auto;
    // height: calc(100vh - 65vh - 104px);
    height: 100%;
}

.video-content * {
    width: 100%;
}