.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

:host ::ng-deep .p-breadcrumb {
    border: none;
}

:host ::ng-deep .p-autocomplete-input {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}


.crumbs-box {
    padding: 0px 8px 0px 8px;
    max-width: 350px;
}

.search-box {
    padding: 0px 8px 0px 8px;
    width: 100%;
    max-width: 1200px;
}

.nav-box {
    padding: 0px 8px 0px 8px;
    max-width: 200px;
}