.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px;
}

:host ::ng-deep .p-breadcrumb {
    border: none;
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
}

:host ::ng-deep .p-autocomplete-input {
    padding-bottom: 0.5rem;
    padding-top: 0.75rem;
}


.crumbs-box {
    padding: 0px 8px 0px 8px;
    max-width: 350px;
}

.search-box {
    padding: 0px 8px 0px 8px;
    width: 100%;
    max-width: 1200px;
}

.nav-box {
    padding: 0px 8px;
    width: 100%;
    max-width: 290px;
    display: flex;
    align-items: center;
}

.theme-mode {
    margin: 0px 10px;
}