.home-box {
  display: flex;
  justify-content: center;
  height: calc(100vh - 104px - 60px);
  margin: auto;

  flex-direction: column;
  align-items: center;
}

.home-box-queued {
  display: flex;
  justify-content: center;
  margin: auto;

  flex-direction: column;
  align-items: center;

  height: calc(100vh - 104px - 60px);
  transition: height 2s ease-in-out;
}

.url-container {
  width: 800px;
}

.me-container {
  // font-family: "Nothing You Could Do", cursive;
  // font-weight: 400;
  // font-style: normal;

  // font-family: "Edu AU VIC WA NT Hand", cursive;
  // font-optical-sizing: auto;
  // font-weight: 400;
  // font-style: normal;

  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;

  // font-family: "Playwrite IN", cursive;
  // font-optical-sizing: auto;
  // font-weight: 200;
  // font-style: normal;

  font-size: 84px;

  background-color: black;
  color: #FFF1DB;
  border-radius: 6px;
  margin-bottom: 6px;

  display: flex;
  justify-content: center;
  width: 800px
}

img {
  max-width: 196px;
  max-height: 196px;
  margin: 6px;
  clip-path: circle(90px);
}

.name-box {
  align-self: center;
  margin: 6px;
}

.options-container {
  display: flex;
  width: 800px;
  margin: 8px 0px 8px 0px;
}

.checkbox-first {
  margin: 0px 8px 0px 0px;
}

.checkbox-last {
  margin: 0px 0px 0px 8px;
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #F3F4F6;
  height: 60px;
  left: 0px;

  display: flex;
  align-items: center;
  justify-content: end;
}

.panel-box {
  height: 10px;
  margin: 16px 0px 16px 0px;
  width: 800px;
  visibility: visible;
  opacity: 0;
}

.panel-box-queued {
  margin: 16px 0px 16px 0px;
  width: 800px;
  visibility: visible;
  opacity: 1;
  transition: opacity 1s ease-in;
}

.content-box {
  display: flex;
  flex-direction: column;
  min-height: 27%
}

.content-box-queued {
  display: flex;
  flex-direction: column;
  min-height: 75%;
  transition: min-height 1.5s ease-in-out;
}

.slide-up-content {

}

:host ::ng-deep .queued-box {
  min-width: 400px;
}