<div class="simplecard" (click)="selectedVideo(meta)">
    <p-card [header]="" [subheader]="" class="card-setting">
        <ng-template pTemplate="header">
            <div class="zoom-img">
                <img [src]="meta.thumbnail" class="center-cropped" />
            </div>
        </ng-template>
        <span style="font-size: 14px;">{{meta.title}}</span>
        <span *ngIf="meta.title === ''">No queued downloads.</span>
        <ng-template pTemplate="footer">
        </ng-template>
    </p-card>
</div>