.simplecard {
    margin: 0.5rem;
    min-width: 350px;
    max-width: 350px;

    min-height: 350px;
    max-height: 350px;
}

.card-setting {
    display: flex;
    min-width: 340px;
    max-width: 340px;
    min-height: 300px;
    max-height: 300px;
}

.center-cropped {
    width: 340px;
    height: 200px;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.zoom-img {
    overflow: hidden;
    border: 2px transparent solid;
    border-radius: 8px;
}

.zoom-img:hover {
    overflow: hidden;
    border: 2px #ffffff solid;
    border-radius: 8px;
}


.zoom-img img {
    object-fit: cover;
    transition: all .3s ease;
}

.zoom-img img:hover {
    transform: scale(1.1);
}