<div class="simplecard details" (click)="selectedVideo(meta)">
    <p-card subheader="{{meta.channel}}" styleClass="settings">
        <ng-template pTemplate="header">
            <div class="zoom-img">
                <img [src]="meta.thumbnail" class="center-cropped" />
            </div>
            <div class="tag-container">
                <p-tag icon="pi pi-clock" value="{{getFormattedDuration(meta.duration)}}" class="duration"/>
            </div>
            <span class="header-text" [pTooltip]="hdrtooltipContent" tooltipPosition="bottom"
                showDelay="500">{{meta.title}}</span>
            <ng-template #hdrtooltipContent>
                <div class="tooltip-text">
                    <span> {{meta.title}} </span>
                </div>
            </ng-template>
        </ng-template>

        <!-- <span style="padding: 8px 0px; font-size: 14px;">{{getFormattedDuration(meta.duration)}}</span> -->
        <span *ngIf="meta.title === ''">No queued downloads.</span>
    </p-card>
</div>