.box {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.element {
    max-width: fit-content;
    margin-left: auto;
    width: calc(100vw - 350px);
    margin-right: auto;
}

.full-page {
    background: linear-gradient(#1b043b, transparent), linear-gradient(90deg, #1b043b, transparent), linear-gradient(-90deg, #1D0E2C, transparent);
    background-blend-mode: color-burn;
    //min-height: calc(100vh - 96px);
    //overflow-y: auto;
}

:host::ng-deep .p-card {
    background-color: transparent;
}

